.form-control{
    background-color: rgb(183, 178, 178);
}

.directAccess{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }

.color{
    color: red;
}